<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ user.first_name }}'s Dishes</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/cooker_data.css' %}">
</head>
<body>
    <a href="{% url "catalog:index" %}" class="arrow-link">&#9664;</a>
    <div class="container">
        <h1>{{ user.first_name }}'s Dishes</h1>
        <a href="{% url 'catalog:create_dish' %}" class="btn btn-primary">Create New Dish</a>
        <div class="row">
            {% for dish in dishes %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ dish.image.url }}" class="card-img-top" alt="{{ dish.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ dish.name }}</h5>
                        <p class="card-text">{{ dish.description }}</p>
                        <p class="card-text"><strong>Price:</strong> ${{ dish.price }}</p>
                        <p class="card-text"><strong>Type:</strong> {{ dish.dish_type }}</p>
                        <a href="{% url 'catalog:update_dish' dish.id %}" class="btn btn-primary">Update</a>
                        <a href="{% url 'catalog:delete_dish' dish.id %}" class="btn btn-danger delete-btn">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>