<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Update Dish</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/update_dish.css' %}">
</head>
<body>
    <div class="container">
        <h1>Update Dish</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% form %}
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{% url 'catalog:user_dishes' dish.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</body>
</html>
